:root {
  --white-background-color: #ffffff;
  --slate-text-color: #434455;
  --navy-blue-dark-color: #2e2f42;
  --iris-primary-brand-color: #4d5ae5;
  --cloud-light-color: #f4f4fd;
  --cornflower-accent-color: #e7e9fc;
  --ocean-pressed-state-color: #404bbf;

  --indent-col: 24px;
  --indent-row: 48px;
  --items: 3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate-text-color);
  background-color: var(--white-background-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 120px 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-dark-color);
  margin: 0 auto 72px;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-dark-color);
}

.logo {
  display: flex;
  gap: 4px;
  margin-right: 76px;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: var(--iris-primary-brand-color);
}

.header {
  border-bottom: 1px solid var(--cornflower-accent-color);
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  margin-left: 76px;
}

.header-logo-accent {
  color: var(--navy-blue-dark-color);
}

.main-menu {
  display: flex;
  align-items: center;
}

.main-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-item-link {
  padding: 24px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-dark-color);
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: var(--ocean-pressed-state-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-item-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-text-color);
  padding: 24px 0;
  display: inline-block;
  text-align: center;
}

.contacts-item-link:hover,
.contacts-item-link:focus {
  color: var(--ocean-pressed-state-color);
}

.hero {
  background-color: var(--navy-blue-dark-color);
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white-background-color);
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-btn {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris-primary-brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-background-color);
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean-pressed-state-color);
}

.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}
.feature-item {
  width: 264px;
}

.feature-item-title {
  margin-bottom: 8px;
}

.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.work-item {
  width: 360px;
}

.team {
  padding: 120px 0;
  background-color: var(--cloud-light-color);
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.team-item {
  width: 264px;
  background-color: var(--white-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-wrap-container {
  padding: 32px 0;
}

.team-item-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-item-text {
  text-align: center;
}

.footer {
  background-color: var(--navy-blue-dark-color);
  padding: 100px 0;
}

.ftr.logo {
  margin-bottom: 16px;
  display: inline-block;
}

.ftr-logo-accent {
  color: var(--cloud-light-color);
}
.ftr-text {
  width: 264px;
  color: var(--cloud-light-color);
  letter-spacing: 0.02em;
}

.portfolio {
  padding-top: 96px;
}
.portfolio-btn-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  align-items: center;
  justify-content: center;
}

.portfolio-btn {
  font-weight: 500;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud-light-color);
  color: var(--accent-color);
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower-accent-color);
  background: var(--cloud-light-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-background-color);
  background-color: var(--ocean-pressed-state-color);
  border: 1px solid transparent;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent-col);
  row-gap: var(--indent-row);
}

.project-wrap-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-accent-color);
  border-top: none;
}

.project-item {
  width: calc((100% - 48px) / 3);
}

.project-item-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-dark-color);
}

.project-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-text-color);
}
